<div id="footer">
  <div class="container">
    <div class="col-lg-12">
      <div class="footer"><a href="http://www.iddqd.org">
        <img src="/images/IDDQD_logo.png" alt="IDDQD Limited" class="company-logo"></a> Made in London
      </div>
    </div>
  </div>
</div>