head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title= Postcodes.io
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
  //
     Styles
  link(rel="stylesheet", href="/css/jquery.tagsinput.css")
  link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css", rel="stylesheet")
  link(rel="stylesheet", href="/css/app.css")

  //
     HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
