<div id="footer">
  <div class="container">
    <div class="col-lg-12">
      <div class="footer"><a href="https://www.iddqd.org">
        <img src="images/iddqd-logo.svg" class="iddqd-logo" alt="IDDQD Ltd logo">
      </a></div>
    </div>
  </div>
</div>
