<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mast-text">About</h1>
        <div class="text-with-logo">
        	<h5>Postcodes.io is maintained by </h5><a href="https://ideal-postcodes.co.uk" target="_blank"><img class="ideal-logo img-responsive" src="../images/logo-inverted.png" alt="Ideal Postcodes logo"></a>
        </div>
      </div>
    </div>
  </div>
</div>