language: node_js
node_js:
  - "4.4"
  - "6.9"
env:
 - CXX=g++-4.8
addons:
 apt:
  sources:
   - ubuntu-toolchain-r-test
  packages:
   - g++-4.8
before_script:
  - mkdir logs && touch logs/test.log
  - POSTGRES_USER=postgres npm run setup_test_db