<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <title>Explore - Postcodes.io</title>
  <meta name="title" content="Explore - Postcodes.io">
  <meta name="description" content="Free UK postcode lookup API and datasets. Search, validate and reverse geocode postcodes. An open sourced project by Ideal Postcodes ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://postcodes.io/explore">
  <meta property="og:title" content="Postcodes.io">
  <meta property="og:description" content="Explore the postcodes.io API on a map. Click on a point in the UK to find the nearest postcodes and associated information">
  <meta property="og:image" content="https://img.ideal-postcodes.co.uk/Postcodes.io%20Logo%403x.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://postcodes.io/explore">
  <meta property="twitter:title" content="Postcodes.io">
  <meta property="twitter:description" content="Explore the postcodes.io API on a map. Click on a point in the UK to find the nearest postcodes and associated information">
  <meta property="twitter:image" content="https://img.ideal-postcodes.co.uk/Postcodes.io%20Logo%403x.png">
  <meta name="keywords" content="Postcode API, Postcode Lookup, Ordnance Survey, UK, ONSPD"/>
  <link rel="canonical" href="https://postcodes.io/explore" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div id="wrap">
    <%- include('../includes/header') %>
    <%- include(main) %>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js"></script>
  <script>
    L.mapbox.accessToken = "<%= mapBoxKey %>";
  </script>
  <script src="/js/mapbox.js"></script>
  <% if (ga) { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '<%= ga %>', 'auto');
      ga('send', 'pageview');
    </script>
  <% } %>
</body>
</html>
