.features {
  padding: 2rem 0;
  width: 100%;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.endpointContainer {
  width: 50vw;
}

.endpointLabel {
  text-align: left;
}

.requestContainer {
  display: flex;
}

.request {
  font-size: 1.5em;
  margin: 0;
  padding-right: 8px;
}

.postcodeInput {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-size: 1.5em;
  width: 150px;
  background-color: transparent;
  color: #888;
}

button {
  margin-left: auto;
  font-size: 1em;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;

  &&:hover {
    cursor: pointer;
    background-color: green;
    color: white;
  }
}

.result {
  margin-top: 30px;
  height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
}
