openapi: "3.0.3"
info:
  version: 3.5.1
  license:
    name: MIT
    url: "https://opensource.org/licenses/MIT"
  title: API Reference - Postcodes.io
  termsOfService: "https://postcodes.io/about"
  description: 
    $ref: './description.md'
  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: 'https://docs.ideal-postcodes.co.uk/postcodesio'
servers:
  - url: "https://api.postcodes.io"
    description: "API Server"
    variables: {}
tags:
  - name: Postcode Lookup
  - name: Postcode Query
  - name: Nearest Postcode
  - name: Random Postcode
  - name: Terminated Postcodes
  - name: Scottish Postcode Search
  - name: Outward Postcodes
  - name: Place Search
  - name: Place Query
  - name: Random Place
x-tagGroups:
  - name: API
    tags:
    - Postcode Lookup
    - Postcode Query
    - Nearest Postcode
    - Random Postcode
    - Terminated Postcodes
    - Scottish Postcodes
    - Outward Code Lookup
    - Place Search
    - Place Query
    - Random Place
paths:
  '/postcodes/{postcode}':
    $ref: 'paths/postcodes@{postcode}.yaml'
  '/postcodes':
    $ref: 'paths/postcodes.yaml'
  '/postcodes/{postcode}/nearest':
    $ref: 'paths/postcodes@{postcode}@nearest.yaml'
  '/random/postcodes':
    $ref: 'paths/random@postcodes.yaml'
  '/terminated_postcodes/{postcode}':
    $ref: 'paths/terminated_postcodes@{postcode}.yaml'
  '/scotland/postcodes/{postcode}':
    $ref: 'paths/scotland@postcodes@{postcode}.yaml'
  '/outcodes/{outcode}':
    $ref: 'paths/outcodes@{outcode}.yaml'
  '/places/{code}':
    $ref: 'paths/places@{code}.yaml'
  '/places':
    $ref: 'paths/places.yaml'
  '/random/places':
    $ref: 'paths/random@places.yaml'
