html,
body {
  height: 100%;
}

body {
  position: relative;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#map {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
}

#instructions {
  text-align: center;
}

#postcode_lookup {
  width: 100%;
}

#postcode_lookup > input {
  background-color: transparent;
}

#spinner {
  width: 100%;
  position: absolute;
  top: 60px;
  text-align: center;
}

#navigator {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 240px;
  background-color: rgba(240,240,240,0.9);
  padding: 10px;
  border-radius: 10px;
}

#help {
  position: absolute;
  top: 10px;
  right: 10px;
}

#latitude.nav {
  float: right;
}

#longitude.nav {
  float: right;
}

.container .text-muted {
  margin: 20px 0;
}

.footer {
  text-align: center;
  font-size: 12px;
  padding-top: 20px;
  color: #aaa;
}

.footer > a {
  color: #888;
  font-weight: bold;
}

.alert {
  margin-top: 10px;
}

.gitlink {
  overflow: hidden;
  border: none;
}

.mast {
  padding: 8em 0 3em;
  background-color: #1c2533;
 background: -webkit-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -o-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -ms-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: -moz-linear-gradient(70deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background: linear-gradient(20deg, #080f1f 30%, #2b4b5a 87%, #435e67 100%);
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

h1.mast-text, 
h1.tagline {
  font-size: 58px;
}

h1.mast-text {
  font-weight: 500;
}

.gitlinks {
  margin-top: 2em;
}

.header {
  background-color: #dee7f5;
}

.sub-header {
  background-color: #dee7f5;
  padding: 5em 0 3em;
}

.points {
  margin: 2em auto;
  width: 80%;
  text-align: center;
}

.points img {
  max-width: 68%;
  max-height: 80px;
}

.api-method {
  min-height: 100px;
  padding: 3em 0;
  border-bottom: 1px solid #eee;
}

.api-method:last-child {
  border-bottom: 0px;
  margin-bottom: 3em;
}

.api-demo a {
  display: inline-block;
  border: 1px solid #435e67;
  padding: 10px;
  border-radius: 5px;
  font-size: 90%;
  color: #111;
  float: right;
}

.api-demo a:hover {
  color: #eee;
  text-decoration: none;
  background-color: #435e67;
  cursor: pointer;
}

h1.api-header {
  text-align: center;
  margin-top: 1em;
}

.http-method {
  margin-right: 1em;
  text-decoration: none;
  background-color: #435e67;
  border-radius: 5px;
  padding: 10px;
  font-size: 80%;
  color: #eee;
  display: inline-block;
}

.api-method h4 input {
  border: 0;
  color: #888;
  font-size: 19px;
  border-bottom: 1px solid #ccc;
  max-width: 100px;
  padding-left: 0px;
  margin-left: 5px;
}

.api-method input:focus {
  outline:none;
}

.api-method pre {
  margin-top: 2em;
  display: none;
}

.api-method {
  text-align: left;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .api-method {
    max-width: 68%;
  }
}

ul.doc-menu {
  margin-top: 1em;
}

ul.doc-menu a {
  color: #111;
  line-height: 100%;
}

li.doc-header {
  font-weight: bold;
}

h2.doc-header:first-child {
  margin-top: 1em;
}

h2.doc-header {
  margin-top: 3em;
}

.documentation {
  margin-bottom: 3em;
}

.documentation h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
  margin-top: 2em;
}

.pull-right {
  float: right;
}

h4.method-title {
  color: #888;
  margin-bottom: 1em;
}

.json-post textarea {
  display: inline-block;
  width: 100%;
  padding: 10px;
  resize: none;
  margin-top: 1em;
  border: 1px solid #aca;
  outline:none;
}

#bulk-postcodes-input {
  height: 6em;
}

#bulk-reverse-input {
  height: 18em;
}

.invalid {
  border: 1px solid #c22 !important;
  background-color: #fcc
}

.code-box {
  max-height: 480px;
  overflow: auto;
}

li.active,
li.active:hover,
li.active:focus {
  background-image: linear-gradient(90deg, #e8e4e8 2%, transparent 2%); /* To remove spacing between border-left property and anchor tag */
}

li.active a {
  color: #000 !important;
}

.text-with-logo {
  display: flex;
  align-items: center;
}

.ideal-logo {
  background-size: cover;
  height: 20px;
  margin-left: 0.5em;
  width: 120px;
}

@media only screen and (max-width: 420px) {
  h1.mast-text {
    font-size: 39px;
    text-align: center;
  }
  .text-with-logo {
    justify-content: center;
  }
  tbody tr#quality > td {
    vertical-align: middle;
  }
}