openapi: 3.0.3
info:
  version: 3.5.1
  license:
    name: AGPLv3
    url: https://opensource.org/licenses/AGPL-3.0
  title: API Reference - Postcodes.io
  termsOfService: https://postcodes.io/about
  description: >-
    # Overview


    Postcodes.io is a free postcode lookup API and geocoder for the UK


    ## Endpoint

    All services can be accessed from the following HTTP[S] endpoint


    `https://api.postcodes.io`

    The API accepts GET and POST requests. POST methods use content type
    application/json


    ## Responses

    JSON(P) only. CORS is enabled.


    Each response comes with an appropriate HTTP Status code (except for JSONP
    requests). These include 200 for success, 400 for a bad request, 404 for not
    found and 500 for server error. The HTTP Status code is also included in the
    response body.


    ## Authentication

    Postcodes.io does not require any authentication.


    ## Versioning

    The API currently does not use any form of versioning. Any changes to the
    API will be backwards-compatible, this includes: adding new properties to
    responses, adding new endpoints, adding new optional request parameters and
    changing the order of properties.


    If we make backwards-incompatible changes in the future, this will be
    released under a versioned endpoint.
  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: https://docs.ideal-postcodes.co.uk/postcodesio
servers:
  - url: https://api.postcodes.io
    description: API Server
    variables: {}
tags:
  - name: Postcode Lookup
    description: Search for UK postcodes
  - name: Outward Postcodes
    description: Search by UK outward codes
  - name: Places Search
    description: Search UK places
x-tagGroups:
  - name: API
    tags:
      - Postcode Lookup
      - Place Search
      - Terminated Postcodes
      - Scottish Postcodes
      - Outward Code Lookup
paths:
  /postcodes/{postcode}:
    get:
      tags:
        - Postcode Lookup
      summary: Lookup Postcode
      operationId: Postcodes
      description: >
        ### Postcode Data (Ordnance Survey Postcode Directory Dataset)


        Data points returned by the /postcodes and /outcodes API


        Note: Some fields may be null if not applicable or populated. These
        fields return type is specified as type|null
      parameters:
        - name: postcode
          in: path
          description: Postcode to retrieve
          required: true
          style: simple
          explode: false
          schema:
            title: Postcode
            description: Postcode to query
            example: SW1A 2AA
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/postcodes/SW1A2AA
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/SW1A2AA'
  /places:
    get:
      tags:
        - Place Search
      summary: Find Place
      description: >
        ### Places Data (Ordnance Survey Open Names Dataset)


        Submit a place query and receive a complete list of places matches and
        associated data.ind a place by OSGB code (e.g. "osgb4000000074564391").
        Returns all available data if found. Returns 404 if place does not
        exist.
      operationId: FindPlace
      parameters:
        - name: query
          in: query
          description: Specifies the place you wish to query
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/places?query=welshpool
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.postcodes.io/places' \
              --data-urlencode 'query=welshpool'
  /terminated-postcodes:
    get:
      tags:
        - Terminated Postcodes
      summary: Terminated Postcodes
      description: >
        ### Terminated Postcode Data (Ordnance Survey Postcode Directory
        Dataset)


        Lookup a terminated postcode. Returns the postcode, year and month of
        termination. Returns 404 if postcode does not exist in our database of
        terminated postcodes or not valid.
      operationId: TerminatedPostcodes
      parameters:
        - name: query
          in: query
          description: Specifies the postcode you wish to query
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminatedPostcodes'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            api.postcodes.io/terminated_postcodes/E1W1UU
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/E1W1UU'
  /scottish-postcodes:
    get:
      tags:
        - Scottish Postcodes
      summary: Scottish Postcodes
      description: >
        Lookup a Scottish postcode. Returns SPD data associated with postcode.
        At the moment this is just Scottish Parliamentary Constituency.


        Returns 404 if postcode does not exist in SPD or is not valid. For
        postcodes not in SPD but in ONSPD, 404 is returned with error message
        Postcode exists in ONSPD but not in SPD.
      operationId: Scottish Postcodes
      parameters:
        - name: query
          in: query
          description: Specifies the postcode you wish to query
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScottishPostcodes-2'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/scotland/postcodes/IV27JB
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/scotland/postcodes/IV27JB'
  /outcodes:
    get:
      tags:
        - Outward Code Lookup
      summary: Find Outcode
      description: >
        ### Outcode Data (Ordnance Survey Postcode Directory Dataset)


        Geolocation data for the centroid of the outward code specified. The
        outward code represents the first half of any postcode (separated by a
        space).
      operationId: FindPlace
      parameters:
        - name: query
          in: query
          description: Specifies the outward code you wish to query.
          required: true
          style: form
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/outcodes/sw1a
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
              --url 'https://api.postcodes.io/outcodes/sw1a'
  /reverse-geocoding:
    get:
      tags:
        - Reverse Geocoding
      summary: Reverse Geocoding
      operationId: Reverse
      description: |
        Returns nearest postcodes for a given longitude and latitude.
      parameters:
        - name: longitude
          in: path
          description: >-
            Geographic coordinate that specifies the east–west position of a
            point
          required: true
          style: simple
          explode: false
          schema:
            title: Postcode
            description: Postcode to query
            example: SW1A 2AA
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/postcodes/SW1A2AA
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/SW1A2AA'
components:
  schemas:
    Postcode:
      required:
        - postcode
        - outcode
        - incode
        - quality
        - eastings
        - northings
        - country
        - nhs_ha
        - admin_county
        - admin_district
        - admin_ward
        - longitude
        - latitude
        - parliamentary_constituency
        - european_electoral_region
        - primary_care_trust
        - region
        - parish
        - lsoa
        - msoa
        - ced
        - ccg
        - nuts
        - codes
      properties:
        postcode:
          title: Postcode
          type: string
          description: >-
            All current ('live') postcodes within the United Kingdom, the
            Channel Islands and the Isle of Man, received monthly from Royal
            Mail. 2, 3 or 4-character outward code, single space and 3-character
            inward code.
          example: SW1A 2AA
        outcode:
          title: Outward Code
          type: string
          description: >-
            The outward code is the part of the postcode before the single space
            in the middle. It is between two and four characters long. A few
            outward codes are non-geographic, not divulging where mail is to be
            sent.
          example: SW1A
        incode:
          title: Inward Code
          type: string
          description: >-
            The inward part is the part of the postcode after the single space
            in the middle. It is three characters long. The inward code assists
            in the delivery of post within a postal district.
          example: 1AA
        quality:
          title: Positional Quality
          type: integer
          description: >-
            Shows the status of the assigned grid reference.

            1 = within the building of the matched address closest to the
            postcode mean

            2 = as for status value 1, except by visual inspection of Landline
            maps (Scotland only)

            3 = approximate to within 50m

            4 = postcode unit mean (mean of matched addresses with the same
            postcode, but not snapped to a building)

            5 = imputed by ONS, by reference to surrounding postcode grid
            references

            6 = postcode sector mean, (mainly | PO Boxes)

            8 = postcode terminated prior to Gridlink® initiative, last known
            ONS postcode grid reference1

            9 = no grid reference available
          example: '1'
        eastings:
          title: Eastings
          type: integer
          x-nullable: true
          description: >-
            The Ordnance Survey postcode grid reference Easting to 1 metre
            resolution. Grid references for postcodes in Northern Ireland relate
            to the Irish Grid system. May be null if geolocation not available.
          example: '530047'
        northings:
          title: Northings
          type: integer
          x-nullable: true
          description: >-
            The Ordnance Survey postcode grid reference Northing to 1 metre
            resolution. Grid references for postcodes in Northern Ireland relate
            to the Irish Grid system. May be null if geolocation not available.
          example: '179951'
        country:
          title: Country
          type: string
          description: >-
            The country (i.e. one of the four constituent countries of the
            United Kingdom or the Channel Islands or the Isle of Man) to which
            each postcode is assigned.
          example: England
        nha_ha:
          title: Strategic Health Authority
          type: string
          x-nullable: true
          description: The health area code for the postcode.
          example: London
        admin_county:
          title: County
          type: string
          x-nullable: true
          description: The current county to which the postcode has been assigned.
          example: ''
        admin_district:
          title: District
          type: string
          x-nullable: true
          description: >-
            The current district/unitary authority to which the postcode has
            been assigned.
          example: Westminster
        admin_ward:
          title: Ward
          type: string
          x-nullable: true
          description: >-
            The current administrative/electoral area to which the postcode has
            been assigned.
          example: St. James's
        longitude:
          title: Longitude
          type: double float
          x-nullable: true
          description: >-
            The WGS84 longitude given the Postcode's national grid reference.
            May be null if geolocation not available.
          example: '-0.12767'
        latitude:
          title: Latitude
          type: double float
          x-nullable: true
          description: >-
            The WGS84 latitude given the Postcode's national grid reference. May
            be null if geolocation not available.
          example: '51.503541'
        parliamentary_constituency:
          title: Westminster Parliamentary Constituency
          type: string
          x-nullable: true
          description: The Westminster Parliamentary Constituency code for each postcode.
          example: Cities of London and Westminster
        european_electoral_region:
          title: European Electoral Region (EER)
          type: string
          x-nullable: true
          description: The European Electoral Region code for each postcode.
          example: London
        primary_care_trust:
          title: Primary Care Trust (PCT)
          type: string
          x-nullable: true
          description: >-
            The code for the Primary Care areas in England, LHBs in Wales, CHPs
            in Scotland, LCG in Northern Ireland and PHD in the Isle of Man;
            there are no equivalent areas in the Channel Islands. Care Trust/
            Care Trust Plus (CT)/ local health board (LHB)/ community health
            partnership (CHP)/ local commissioning group (LCG)/ primary
            healthcare directorate (PHD).
          example: Westminster
        region:
          title: Region (formerly GOR)
          type: string
          x-nullable: true
          description: >-
            The Region code for each postcode. The nine GORs were abolished on 1
            April 2011 and are now known as ‘Regions’. They were the primary
            statistical subdivisions of England and also the areas in which the
            Government Offices for the Regions fulfilled their role. Each GOR
            covered a number of local authorities.
          example: London
        parish:
          title: Parish (England)/community (Wales)
          type: string
          x-nullable: true
          description: >-
            The smallest type of administrative area in England is the parish
            (also known as 'civil parish'); the equivalent units in Wales are
            communities.
          example: Westminster, unparished area
        lsoa:
          title: 2011 Census lower layer super output area (LSOA)
          type: string
          x-nullable: true
          description: >-
            The 2011 Census lower layer SOA code for England and Wales, SOA code
            for Northern Ireland and data zone code for Scotland.
          example: Westminster 018C
        msoa:
          title: 2011 Census middle layer super output area (MSOA)
          type: string
          x-nullable: true
          description: >-
            The 2011 Census middle layer SOA (MSOA) code for England and Wales
            and intermediate zone for Scotland.
          example: Westminster 018
        ced:
          title: County Electoral District
          type: string
          x-nullable: true
          description: >-
            The county electoral division code for each English postcode. Pseudo
            codes are included for the remainder of the UK. The field will be
            null for English postcodes with no grid reference. English county
            councils use county electoral divisions (CED) to elect councillors.
            These CEDs must be confined within district boundaries, but need not
            be based on whole electoral wards. The only exceptions are the Isles
            of Scilly and the Greater London Authority (GLA). CEDs do not exist
            within UAs.
          example: ''
        ccg:
          title: Clinical Commissioning Group
          type: string
          x-nullable: true
          description: >-
            Clinical commissioning groups (CCGs) are NHS organisations set up by
            the Health and Social Care Act 2012 to organise the delivery of NHS
            services in England.
          example: NHS North West London
        nuts:
          title: >-
            International Terratorial Levels (ITL) (Former Nomenclature of Units
            for Territorial Statistics (NUTS)
          type: string
          x-nullable: true
          description: >-
            The national LAU1-equivalent code for each postcode. Pseudo codes
            are included for Channel Islands and Isle of Man. The field will
            otherwise be blank for postcodes with no grid reference.


            As of May 2021. NUTS has changed to International Territorial Levels
            (ITL). Postcodes.io will report ITL in nuts and codes.nuts to
            preserve backwards compatibility.


            Following the UK's withdrawal from the EU, a new UK-managed
            international statistical geography - ITL (International Territorial
            Levels) - was introduced from 1st January 2021, replacing the former
            NUTS classification. They align with international standards,
            enabling comparability both over time and internationally. To ensure
            continued alignment, the ITLs mirror the NUTS system. They also
            follow a similar review timetable, every three years.


            NUTS is a hierarchical classification of spatial units that provides
            a breakdown of the European Union's territory for producing regional
            statistics that are comparable across the Union.


            The ITL area classification in the UK comprises current national
            administrative and electoral areas, except in Scotland where some
            ITL areas comprise whole and/or part Local Enterprise Regions.


            The ONSPD contains the LAU1 code (9-character LAD/UA code for
            England, Wales and Northern Ireland and 'S30' code for Scotland). A
            comprehensive lookup of LAU and ITL codes is included with the
            accompanying metadata.
          example: Westminster
        codes:
          title: Returns an ID or Code associated with the postcode
          type: object
          description: >-
            Typically, these are a 9 character code known as an ONS Code or GSS
            Code. This is currently only available for districts, parishes,
            counties, CCGs, NUTS and wards.
          properties:
            admin_district:
              title: GSS Code for Administrative County
              type: string
              x-nullable: true
              description: See description of admin_district field.
              example: E09000033
            admin_county:
              title: ''
              type: string
              x-nullable: true
              description: See description of admin_county field.
              example: E99999999
            admin_ward:
              title: ''
              type: string
              x-nullable: true
              description: See description of admin_ward field.
              example: E05013806
            parish:
              title: ''
              type: string
              x-nullable: true
              description: See description of parish field.
              example: E43000236
            ccg:
              title: ''
              type: string
              x-nullable: true
              description: See description of ccg field.
              example: E38000256
            ccg_id:
              title: CCG ID
              type: string
              x-nullable: true
              description: CCG Short Code
              example: W2U3Z
            ced:
              title: CED
              type: string
              x-nullable: true
              description: ''
              example: E99999999
            nuts:
              title: ''
              type: string
              x-nullable: true
              description: The ITL code associated with the postcode.
              example: TLI32
            lau2:
              title: LAU2
              type: string
              x-nullable: true
              description: The LAU2 code associated with the postcode.
              example: E09000033
            lsoa:
              title: ''
              type: string
              x-nullable: true
              description: See description of lsoa field.
              example: E01004736
            msoa:
              title: ''
              type: string
              x-nullable: true
              description: See description of msoa field.
              example: E02000977
    PostcodeResponse:
      title: Postcode Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Postcode'
          description: Data for a given postcode
    Place:
      title: Place
      description: Represents a geographical place
      required:
        - code
        - name_1
        - name_1_lang
        - name_2
        - name_2_lang
        - local_type
        - outcode
        - county_unitary
        - county_unitary_type
        - district_borough
        - region
        - country
        - longitude
        - latitude
        - eastings
        - northings
        - min_eastings
        - min_northings
        - max_eastings
        - max_northings
      properties:
        code:
          title: Code
          type: string
          description: >-
            A unique identifier that enables records to be identified easily.
            The identifier will be persistent for all LocalTypes except Section
            of Named Road and Section of Numbered Road.
          example: osgb4000000074559833
        name_1:
          title: Name
          type: string
          description: >-
            The proper noun that applies to the real world entity. Names that
            are prefixed by the definite article are not formatted for
            alphabetical sorting, that is, 'The Pennines' not 'Pennines, The'.
          example: Y Trallwng
        name_1_lang:
          title: Language of Name
          type: string
          x-nullable: true
          description: >-
            The language type is only set where more than one name exists, e.g.
            cym (Welsh), eng (English), gla (Scottish Gaelic).
          example: cym
        name_2:
          title: Name (in case of multiple languages)
          type: string
          x-nullable: true
          description: >-
            The proper noun that applies to the real world entity. Names that
            are prefixed by the definite article are not formatted for
            alphabetical sorting, that is, 'The Pennines' not 'Pennines, The'.
          example: Welshpool
        name_2_lang:
          title: Language of Name
          type: string
          x-nullable: true
          description: >-
            The language type is only set where more than one name exists, e.g.
            cym (Welsh), eng (English), gla (Scottish Gaelic).
          example: eng
        local_type:
          title: Local Type
          type: string
          description: >-
            The Ordnance Survey classification for the named place being
            represented by the specific feature, e.g. City, Town, Village,
            Hamlet, Other Settlement, Suburban Area.
          example: Hamlet
        outcode:
          title: Outcode
          type: string
          description: The postcode district.
          example: BH24
        county_unitary:
          title: Administrative Area
          type: string
          x-nullable: true
          description: >-
            The name of the County (non-metropolitan or Metropolitan), Unitary
            Authority or Greater London Authority administrative area that the
            point geometry for feature is within or nearest to.
          example: Powys - Powys
        county_unitary_type:
          title: Administrative Area Type
          type: string
          x-nullable: true
          description: Classifies the type of administrative unit.
          example: UnitaryAuthority
        district_borough:
          title: District or Borough
          type: string
          x-nullable: true
          description: >-
            The name of the District, Metropolitan District or London Borough
            administrative unit that the point geometry for the feature is
            within.
          example: 'null'
        district_borough_type:
          title: Borough Type
          type: string
          x-nullable: true
          description: Classifies the type of administrative unit.
          example: 'null'
        region:
          title: Region
          type: string
          description: >-
            The name of the European Region (was Government O ice Region) that
            the point geometry for the feature is within or nearest to.
          example: Wales
        country:
          title: Country
          type: string
          description: >-
            OS Places relates to Great Britain only. i.e. England, Scotland,
            Wales.
          example: Wales
        longitude:
          title: Longitude
          type: double float
          description: The WGS84 longitude given the Place's national grid reference.
          example: '-3.14971194307843'
        latitude:
          title: Latitude
          type: double float
          description: The WGS84 latitude given the Place's national grid reference.
          example: '52.6606391732959'
        eastings:
          title: Eastings
          type: integer
          description: >-
            The Ordnance Survey postcode grid reference Easting to 1 metre
            resolution; blank for postcodes in the Channel Islands and the Isle
            of Man.
          example: '322335'
        northings:
          title: Northings
          type: integer
          description: >-
            The Ordnance Survey postcode grid reference Northing to 1 metre
            resolution; blank for postcodes in the Channel Islands and the Isle
            of Man.
          example: '307611'
        min_eastings:
          title: Minimum Eastings
          type: integer
          description: >-
            Bounding box or Minimum Bounding Rectangle (MBR) for roads and
            settlements. For Settlements and Sections of Named and Numbered
            Roads, the MBR gives a representation of the extent of these
            features and is not snapped to the real world extent.
          example: '321623'
        min_northings:
          title: Minimum Northings
          type: integer
          description: >-
            Bounding box or Minimum Bounding Rectangle (MBR) for roads and
            settlements. For Settlements and Sections of Named and Numbered
            Roads, the MBR gives a representation of the extent of these
            features and is not snapped to the real world extent.
          example: '306458'
        max_eastings:
          title: Maximum Eastings
          type: integer
          description: >-
            Bounding box or Minimum Bounding Rectangle (MBR) for roads and
            settlements. For Settlements and Sections of Named and Numbered
            Roads, the MBR gives a representation of the extent of these
            features and is not snapped to the real world extent.
          example: '323592'
        max_northings:
          title: Maximum Northings
          type: integer
          description: >-
            Bounding box or Minimum Bounding Rectangle (MBR) for roads and
            settlements. For Settlements and Sections of Named and Numbered
            Roads, the MBR gives a representation of the extent of these
            features and is not snapped to the real world extent.
          example: '308740'
    PlaceResponse:
      title: Places Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Place'
          description: Data for a given place
    TerminatedPostcode:
      required:
        - postcode
        - year_terminated
        - month_terminated
        - longitude
        - latitude
      properties:
        postcode:
          title: Postcode
          type: string
          description: >-
            All currently terminated postcodes within the United Kingdom, the
            Channel Islands and the Isle of Man, received every 3 months from
            Royal Mail. 2, 3 or 4-character outward code, single space and
            3-character inward code.
          example: SW1A 2AA
        year_terminated:
          title: Termination year
          type: integer
          description: Termination year.
          example: '2019'
        month_terminated:
          title: Termination month
          type: integer
          description: >-
            Month of termination of a postcode. 1-January, 2-February ...
            12-December.
          example: '1'
        longitude:
          title: Longitude
          type: double float
          description: The WGS84 longitude given the Postcode's national grid reference.
          example: '-2.49690382054704'
        latitude:
          title: Latitude
          type: double float
          description: The WGS84 latitude given the Postcode's national grid reference.
          example: '53.5351312861402'
    TerminatedPostcodes:
      title: Postcode Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/TerminatedPostcode'
          description: Data for a given postcode
    ScottishPostcodes:
      required:
        - postcode
        - scottish_parliamentary_constituency
        - codes
      properties:
        postcode:
          title: Postcode
          type: string
          description: Royal Mail postcode
          example: IV2 7JB
        scottish_parliamentary_constituency:
          title: Scottish Parliamentary Constituency
          type: string
          description: 2014 Scottish Parliamentary Constituency.
          example: Inverness and Nairn
        codes:
          title: Returns an ID or Code associated with the postcode
          description: >-
            Typically, these are a 9 character code known as an ONS Code or GSS
            Code.
          type: object
          properties:
            scottish_parliamentary_constituency:
              title: Scottish Parliamentary Constituency GSS Code
              type: string
              description: >-
                A code that identifies a 2014 Scottish Parliamentary
                Constituency.
              example: S16000125
    ScottishPostcodes-2:
      title: Scottish Postcodes Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/ScottishPostcodes'
          description: Data for a given postcode
    Outcode:
      required:
        - outcode
        - eastings
        - northings
        - admin_county
        - admin_district
        - admin_ward
        - longitude
        - latitude
        - country
        - parish
      properties:
        outcode:
          title: Outcode
          type: string
          description: >-
            The outcode or outward code is the part of the postcode before the
            single space in the middle. It is between two and four characters
            long. Examples of outward codes include "L1", "W1A", "RH1", "RH10"
            or "SE1P". A few outward codes are non-geographic, not divulging
            where mail is to be sent.
          example: SW1A
        eastings:
          title: Eastings
          type: integer|null
          description: >-
            The Ordnance Survey postcode grid reference Easting to 1 metre
            resolution; blank for postcodes in the Channel Islands and the Isle
            of Man. Grid references for postcodes in Northern Ireland relate to
            the Irish Grid system. Computed as the arithmetic mean of the input
            coordinates. Returns 0 if geolocation is not available.
          example: '529740'
        northings:
          title: Northings
          type: integer|null
          description: >-
            The Ordnance Survey postcode grid reference Northing to 1 metre
            resolution; blank for postcodes in the Channel Islands and the Isle
            of Man. Grid references for postcodes in Northern Ireland relate to
            the Irish Grid system. Computed as the arithmetic mean of the input
            coordinates. Returns 0 if geolocation is not available.
          example: '180066'
        admin_county:
          title: County
          type: string[]
          description: The current counties under the outcode.
          example: ''
        admin_district:
          title: District
          type: string[]
          description: The current district/unitary authorites under the outcode.
          example: |-
            [
                "Westminster",
                "Wandsworth"
            ]
        admin_ward:
          title: Ward
          type: string[]
          description: The current administrative/electoral areas under the outcode.
          example: |-
            [
                "Nine Elms",
                "St. James's"
            ]
        longitude:
          title: Longitude
          type: double float | null
          description: >-
            The WGS84 longitude given the Postcode's national grid reference.
            Computed as the arithmetic mean of input coordinates. May be null if
            geolocation not available.
          example: '-0.132066678082192'
        latitude:
          title: Latitude
          type: double float | null
          description: >-
            The WGS84 latitude given the Postcode's national grid reference.
            Computed as the arithmetic mean of input coordinates. May be null if
            geolocation not available.
          example: '51.5046429726028'
        country:
          title: Country
          type: string[]
          description: The countries included in the outcode.
          example: England
        parish:
          title: Parish (England)/community (Wales)
          type: string[]
          description: The parishes included in the outcode.
          example: |-
            [
                "Wandsworth, unparished area",
                "Westminster, unparished area"
            ],
    OutcodeResponse:
      title: Places Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Outcode'
          description: Data for a given place
