openapi: 3.0.3
info:
  version: 3.5.1
  license:
    name: AGPLv3
    url: https://opensource.org/licenses/AGPL-3.0
  title: API Reference - Postcodes.io
  termsOfService: https://postcodes.io/about
  description: |+
    # Getting Started

    ## Overview

    ### Access

    See postcodes.io/docs

    - Endpoint
    - Authetnication
    - Responses
    - Versioning

  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: https://docs.ideal-postcodes.co.uk/postcodesio
servers:
  - url: https://api.postcodes.io
    description: API Server
    variables: {}
tags:
  - name: Postcode Lookup
    description: Search for UK postcodes
  - name: Outward Postcodes
    description: Search by UK outward codes
  - name: Places Search
    description: Search UK places
x-tagGroups:
  - name: Address Search
    tags:
      - Address Search
      - UK
  - name: Place Search
    tags:
      - Place Search
paths:
  /postcodes/{postcode}:
    get:
      tags:
        - UK
      summary: Lookup Postcode
      operationId: Postcodes
      description: >
        Returns the complete list of addresses for a postcode. Postcode searches
        are space and case insensitive.


        The Postcode Lookup API provides a JSON interface to search UK addresses
        from a postcode. It can be used to power Postcode Lookup driven address
        searches, like [Postcode Lookup](/postcode-lookup).


        ## Postcode Not Found


        Lookup balance is unaffected by invalid postcodes. The API returns a
        `404` response with response body:


        ```json

        {
          "code": 4040,
          "message": "Postcode not found",
          "suggestions": ["SW1A 0AA"]
        }

        ```


        ### Suggestions


        If a postcode cannot be found, the API will provide up to 5 closest
        matching postcodes. Common errors will be corrected first (e.g. mixing
        up `O` and `0` or `I` and `1`).


        If the suggestion list is small (fewer than 3), there is a high
        probability the correct postcode is there. You may notify the user or
        immediately trigger new searches.


        The suggestion list will be empty if the postcode has deviated too far
        from a valid postcode format.


        ## Multiple Residence


        A small number of postcodes will return more than 100 premises. These
        may require pagination. Use `page` to paginate the result set.
      parameters:
        - name: postcode
          in: path
          description: Postcode to retrieve
          required: true
          style: simple
          explode: false
          schema:
            title: Postcode
            description: Postcode to query
            example: SW1A 2AA
        - name: filter
          in: query
          style: form
          required: false
          explode: false
          schema:
            $ref: '#/components/schemas/FilterParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/postcodes/SW1A2AA
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodesSW1A2AA'
components:
  schemas:
    FilterParam:
      title: Filter
      type: string
      description: >
        Comma separated whitelist of address elements to return. 


        E.g. `filter=line_1,line_2,line_3` returns only `line_1`, `line_2` and
        `line_3` address elements in your response
      example: line_1,line_2,line_3
    Postcode:
      required:
        - postcode
      properties:
        postcode:
          title: Postcode
          type: string
          description: Postcode
          example: SW1A 2AA
    PostcodeResponse:
      title: Postcode Response
      type: object
      required:
        - message
        - code
        - result
      properties:
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Postcode'
          description: Data for a given postcode
        code:
          type: integer
          format: int32
          enum:
            - 2000
        message:
          type: string
          enum:
            - Success
