<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge,chrome=1"/>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <title>Explore - Postcodes.io</title>
  <meta name="title" content="Explore - Postcodes.io">
  <meta name="description" content="Explore the postcodes.io API on a map. Click on a point in the UK to find the nearest postcodes and associated information">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://postcodes.io/explore">
  <meta property="og:title" content="Postcodes.io">
  <meta property="og:description" content="Explore the postcodes.io API on a map. Click on a point in the UK to find the nearest postcodes and associated information">
  <meta property="og:image" content="https://img.ideal-postcodes.co.uk/Postcodes.io%20Logo%403x.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://postcodes.io/explore">
  <meta property="twitter:title" content="Postcodes.io">
  <meta property="twitter:description" content="Explore the postcodes.io API on a map. Click on a point in the UK to find the nearest postcodes and associated information">
  <meta property="twitter:image" content="https://img.ideal-postcodes.co.uk/Postcodes.io%20Logo%403x.png">
  <meta name="keywords" content="Postcode API, Postcode Lookup, Ordnance Survey, UK, ONSPD"/>
  <link rel="canonical" href="https://postcodes.io/explore" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
