<div id="map"></div>
<div id="spinner"><img src="images/loading.gif" alt="loading"></div>
<div id="navigator">
  <h6> Longitude <span class="nav" id="longitude"></span></h6>
  <h6>Latitude <span class="nav" id="latitude"></span></h6>
  <h6 id="instructions">Click on map for Nearest Postcode</h6>
  <form class="form-inline">
    <div class="form-group" id="postcode_lookup"><input class="form-control" type="text" placeholder="Lookup a Postcode" id="postcode_query"></div>
  </form>
  <table class="table table-condensed" id="info"></table>
</div>