<div class="mast">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="tagline">Postcode &amp; Geolocation API for the UK</h1>
        <p style="font-size: 1.5em;">Free, Open Source and based solely on Open Data</p>
        <div class="gitlinks">
          <iframe class="gitlink" src="https://ghbtns.com/github-btn.html?user=ideal-postcodes&amp;repo=postcodes.io&amp;type=watch&amp;count=true" width="90" height="20" title="GitHub stars"></iframe>
          <iframe class="gitlink" src="https://ghbtns.com/github-btn.html?user=ideal-postcodes&amp;repo=postcodes.io&amp;type=fork&amp;count=true" width="90" height="20" title="GitHub forks"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>