extends ../layouts/default

block main
	.sub-header
		.container
			.row
				.col-lg-12
					h1.mast-text About
					h5 Postcodes.io is maintained by 
						a(href="https://ideal-postcodes.co.uk") Ideal-Postcodes.co.uk

block content
	.container
		.row
			.col-lg-9
				h3 Why

				p This is a free API. Postcodes.io is aimed at developers who want a resource to lookup and (reverse) geocode UK Postcodes.

				h3 Community API Libraries
				
				p 
					strong Java 
				p 
					a(href="https://github.com/spdeepak/postcodes-io-java") postcodes_io 
					| by 
					a(href="https://github.com/spdeepak") Deepak Sunanda Prabhakar
				
				p
					strong PHP
				p
					a(href="https://github.com/boxuk/postcodes-io-bundle") postcodes-io-bundle 
					| by the people at 
					a(href="http://www.boxuk.com") Box UK
					| . Read the 
					a(href="http://www.boxuk.com/developer-blog/geocoding-postcodes-symfony2/") blog post
					br
					a(href="https://github.com/adityamenon/postcodes-io-laravel") postcodes-io laravel package 
					| by 
					a(href="http://adityamenon.co") Aditya Menon
					br
					a(href="https://github.com/hart1994/Postcodes-IO-PHP") PHP Class for Postcodes.io 
					| by 
					a(href="https://github.com/hart1994/") Ryan

				p 
					strong Ruby 
				p 
					a(href="https://github.com/jamesruston/postcodes_io") postcodes_io 
					| by 
					a(href="https://github.com/jamesruston") James Ruston

				p 
					strong Node.js
				p 
					a(href="https://github.com/cuvva/postcodesio-client-node") postcodesio-client-node
					|  by 
					a(href="https://github.com/billinghamj") @billinghamj

				p 
					strong Python
				p 
					a(href="https://github.com/previousdeveloper/PythonPostcodesWrapper") PythonPostcodesWrapper
					|  by 
					a(href="https://github.com/previousdeveloper") Gokhan Karadas

				p 
					strong C&#35;
				p 
					a(href="https://github.com/markembling/MarkEmbling.PostcodesIO") MarkEmbling.PostcodesIO
					|  by 
					a(href="https://github.com/markembling") Mark Embling

				p 
					strong R
				p 
					a(href="https://github.com/erzk/PostcodesioR") PostcodesioR
					|  by 
					a(href="http://walczak.org") Eryk Walczak
					| . Read the 
					a(href="http://walczak.org/2016/07/postcode-and-geolocation-api-for-the-uk/") blog post

				p
					strong Google Sheets Addon
				p
					a(href="https://chrome.google.com/webstore/detail/uk-postcode-geocoder/bjkecdilmiedfkihpgfhfikchkghliia?utm_source=permalink") UK Postcode Geocoder
					|  by 
					a(href="http://edwebdeveloper.com/") Ed Patrick

				h3 Noticeboard for 2016

				p Any updates or disruptions will be listed below.

				ul
					li 17 Jan. 2-3 minutes of downtime around 1pm GMT to upgrade server

				h3 Email

				p Leave your email with us to receive critical service information for Postcodes.io

				div(id="mc_embed_signup")
				div(class="row")
					div(class="col-md-6")
						form(action="//Postcodes.us12.list-manage.com/subscribe/post?u=119607e39194744971ab32d57&amp;id=9f6936a4ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank")
							div(id="mc_embed_signup_scroll")
								div(class="mc-field-group form-group")
									label(for="mce-EMAIL") Email Address
									input(type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL")
								div(id="mce-responses" class="clear")
									div(class="response" id="mce-error-response" style="display:none")
									div(class="response" id="mce-success-response" style="display:none")
								div(style="position: absolute; left: -5000px;" aria-hidden="true")
									input(type="text" name="b_119607e39194744971ab32d57_9f6936a4ee" tabindex="-1" value="")
								div(class="clear form-group")
									input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info")

				h3 Support
				p Chat: 
					a(href="http://chat.ideal-postcodes.co.uk", target="_blank") chat.ideal-postcodes.co.uk
				p Email: support@ideal-postcodes.co.uk
				p Twitter: 
					a(href="https://twitter.com/idealpostcodes") @IdealPostcodes

				h3 Github
				p For bugs and feature requests use our 
					a(href="https://github.com/ideal-postcodes/postcodes.io/issues") Github issue tracker.

				h3 Data

				p This API is up-to-date with the ONS's Postcode Directory for August 2016. Beyond that date, new postcodes may be added. Existing postcodes may be amended or discontinued. This information will not be captured until the next quarterly update.

				h3 License

				p Postcodes.io is available under the MIT License

				p Great Britain postcode data may be used under the terms of the OS OpenData licence. 

				p Northern Ireland postcode data (i.e. beginning "BT") may be used under the terms of the ONSPD licence. Non-commercial use is free. Commercial use requires a license from NI Land &amp; Property Services

				p Contains Ordnance Survey data &copy; Crown copyright and database right 2016 

				p Contains Royal Mail data &copy; Royal Mail copyright and database right 2016 

				p Contains National Statistics data &copy; Crown copyright and database right 2016

				h3 Not to be confused with...

				p 
					a(href="http://www.postcode.io") Postcode.io
					| , a laudable company in California providing technology applications and services to local governments.
