extends ../layouts/default

block main
	.sub-header
		.container
			.row
				.col-lg-12
					h1.mast-text About
					h5 Postcodes.io is maintained by 
						a(href="https://ideal-postcodes.co.uk") Ideal-Postcodes.co.uk

block content
	.container
		.row
			.col-lg-9
				h3 Why

				p This is a free API. Postcodes.io is aimed at developers who want a resource to lookup and (reverse) geocode UK Postcodes.

				h3 Community API Libraries

				p
					strong PHP
				p
					a(href="https://github.com/boxuk/postcodes-io-bundle") postcodes-io-bundle 
					| by the people at 
					a(href="http://www.boxuk.com") Box UK
					| . Read the 
					a(href="http://www.boxuk.com/developer-blog/geocoding-postcodes-symfony2/") blog post.
					br
					a(href="https://github.com/adityamenon/postcodes-io-laravel") postcodes-io laravel package 
					| by 
					a(href="http://adityamenon.co") Aditya Menon
					| .

				p 
					strong Ruby 
				p 
					a(href="https://github.com/jamesruston/postcodes_io") postcodes_io 
					| by 
					a(href="https://github.com/jamesruston") James Ruston

				h3 Noticeboard for 2014

				p Any updates or disruptions will be listed below.

				ul
					li 13 Dec. Disruption 14:00-1420 GMT. A number of API methods were returning 500s due to a bad build. Now fixed.
					li 11 Dec. Updated Database. Database now based on November 2014 release of ONSPD's Postcode Directory. 
					li 18 Oct. Updated Database. Database now based on August 2014 release of ONSPD's Postcode Directory. 
					li 7 Oct. Geocoding disruption. Some geocoding API methods were returning incorrect results after a scheduled update. Now fixed.
					li 5 Oct. New installation instructions. We've begun hosting a pg_dump of our database for rapid self deployment. See Github &amp; Documentation for more information.
					li 16 Sep. Added nearest postcode method. Get nearest postcodes for given postcode.
					li 15 Jun. Updated Database. Database now based on May 2014 release of ONSPD's Postcode Directory.
					li 16 Apr. Added Clinical Commission Group Data.

				h3 Support
				p Chat: 
					a(href="http://chat.ideal-postcodes.co.uk", target="_blank") chat.ideal-postcodes.co.uk
				p Email: support@ideal-postcodes.co.uk
				p Twitter: 
					a(href="https://twitter.com/idealpostcodes") @IdealPostcodes

				h3 Github
				p For bugs, feature requests and spelling corrections use our 
					a(href="https://github.com/ideal-postcodes/postcodes.io/issues") Github issue tracker.

				h3 Data

				p This API is up-to-date with the ONS' Postcode Directory for November 2014. Beyond that date, new postcodes may be added. Existing postcodes may be amended or discontinued. This information will not be captured until the next quarterly update.

				h3 License

				p Postcodes.io is available under the MIT License

				p Great Britain postcode data may be used under the terms of the OS OpenData licence. Northern Ireland postcode data may be used under the terms of the ONSPD licence

				p This API uses Royal Mail and Ordnance Survey data © Crown copyright and database right 2014 and Office for National Statistics data © Crown copyright and database right 2014 (ONSPD).

				h3 Not to be confused with...

				p 
					a(href="http://www.postcode.io") Postcode.io
					| , a laudable company in California providing technology applications and services to local governments.

