extends ../layouts/default

block main
	.sub-header
		.container
			.row
				.col-lg-12
					h1.mast-text About
					h5 Postcodes.io is maintained by 
						a(href="https://ideal-postcodes.co.uk") Ideal-Postcodes.co.uk

block content
	.container
		.row
			.col-lg-9
				h3 Why

				p This is a free API. Postcodes.io is aimed at developers who want a resource to lookup and (reverse) geocode UK Postcodes.

				h3 Community API Libraries

				p
					strong PHP
				p
					a(href="https://github.com/boxuk/postcodes-io-bundle") postcodes-io-bundle 
					| by the people at 
					a(href="http://www.boxuk.com") Box UK
					| . Read the 
					a(href="http://www.boxuk.com/developer-blog/geocoding-postcodes-symfony2/") blog post.
					br
					a(href="https://github.com/adityamenon/postcodes-io-laravel") postcodes-io laravel package 
					| by 
					a(href="http://adityamenon.co") Aditya Menon
					| .

				p 
					strong Ruby 
				p 
					a(href="https://github.com/jamesruston/postcodes_io") postcodes_io 
					| by 
					a(href="https://github.com/jamesruston") James Ruston

				p 
					strong Node.js
				p 
					a(href="https://github.com/cuvva/postcodesio-client-node") postcodesio-client-node
					|  by 
					a(href="https://github.com/billinghamj") @billinghamj

				p 
					strong Python
				p 
					a(href="https://github.com/previousdeveloper/PythonPostcodesWrapper") PythonPostcodesWrapper
					|  by 
					a(href="https://github.com/previousdeveloper") Gokhan Karadas

				p 
					strong C&#35;
				p 
					a(href="https://github.com/markembling/MarkEmbling.PostcodesIO") MarkEmbling.PostcodesIO
					|  by 
					a(href="https://github.com/markembling") Mark Embling

				h3 Noticeboard for 2015

				p Any updates or disruptions will be listed below.

				ul
					li 15 Jan. Disruption 1657-1719 GMT. API was unavailable for 22 minutes due to an issue with the server's hypervisor.
					li 22 Jan. Widened maximum search radius from to 2km for "nearest postcode to geolocation" searches.
					li 1 Feb. Reverse geocoding now accepts a wideSearch boolean flag. This allows you to retrieve the first 10 postcodes for a radius of up to 20km.
					li 4 Feb. Added the explore page.
					li 5 Feb. /outcodes/:outcode method now returns additional information including a list of administrative wards, counties, districts and parishes. 
					li 18 Feb. Disruption 0358-0413 GMT. Intermittent request timeouts due to datacenter connectivity issues.
					li 24 Mar. API now returns IDs for counties, districts, wards, parishes and CCGs in a `codes` object.
					li 24 Mar. Updated for ONS Postcode Directory Feb 2015.
					li 3 Apr. Released fixed Parish dataset for Feb 2015 ONS Postcode Directory.
					li 5 Jun. Added new nearest and reverse geocode methods for outward codes.
					li 10 Jun. Updated for ONS Postcode Directory May 2015.
					li 18 Jun. Random postcode method has been temporarily disabled due to heavy load.

				h3 Support
				p Chat: 
					a(href="http://chat.ideal-postcodes.co.uk", target="_blank") chat.ideal-postcodes.co.uk
				p Email: support@ideal-postcodes.co.uk
				p Twitter: 
					a(href="https://twitter.com/idealpostcodes") @IdealPostcodes

				h3 Github
				p For bugs, feature requests and spelling corrections use our 
					a(href="https://github.com/ideal-postcodes/postcodes.io/issues") Github issue tracker.

				h3 Data

				p This API is up-to-date with the ONS' Postcode Directory for November 2014. Beyond that date, new postcodes may be added. Existing postcodes may be amended or discontinued. This information will not be captured until the next quarterly update.

				h3 License

				p Postcodes.io is available under the MIT License

				p Great Britain postcode data may be used under the terms of the OS OpenData licence. Northern Ireland postcode data may be used under the terms of the ONSPD licence

				p Contains Ordnance Survey data &copy; Crown copyright and database right 2015 

				p Contains Royal Mail data &copy; Royal Mail copyright and database right 2015 

				p Contains National Statistics data &copy; Crown copyright and database right 2015

				h3 Not to be confused with...

				p 
					a(href="http://www.postcode.io") Postcode.io
					| , a laudable company in California providing technology applications and services to local governments.

