extends ../layouts/default

block main
	.sub-header
		.container
			.row
				.col-lg-12
					h1.mast-text About
					h5 Postcodes.io is maintained by 
						a(href="https://ideal-postcodes.co.uk") Ideal-Postcodes.co.uk

block content
	.container
		.row
			.col-lg-9
				h3 Why?
				p The people behind Postcodes.io are the same people behind Ideal-Postcodes.co.uk. We run a paid API that takes UK addressing data locked behind high-cost commercial licensing regimes and we try our best to offer it to developers at a fair price with a simple API.

				p We started Postcodes.io to do the same thing. We'd like to make open data easier to consume and available at a fair price (free).

				p This API is designed for primarily for people who want to link Postcodes to location data ([reverse] geocoding) and to lookup basic information on postcodes.

				h3 Github
				p If come across bugs or have any requests please create an issue on our 
					a(href="https://github.com/ideal-postcodes/postcodes.io") Github repository 
					| or make a pull request. We'll be happy to take a look

				h3 Support
				p Got questions or want to get in contact with us?
				p Chat: 
					a(href="http://webchat.freenode.net/?channels=ideal-postcodes", target="_blank") irc.Freenode.net #ideal-postcodes
				p Email: team@postcodes.io
				p Twitter: 
					a(href="https://twitter.com/idealpostcodes") @IdealPostcodes

				h3 Data
				p This API uses Royal Mail and Ordnance Survey data © Crown copyright and database right 2014 and Office for National Statistics data © Crown copyright and database right 2014 (ONSPD).
				
				h3 License
				p Postcodes.io is available under the MIT License
				p Great Britain postcode data may be used under the terms of the OS OpenData licence. Northern Ireland postcode data may be used under the terms of the ONSPD licence