extends ../layouts/mapbox_layout

block main
	#map
	#spinner
		img(src="images/loading.gif",alt="loading")
	#navigator 
		h6 
			| Longitude 
			span#longitude.nav
		h6
			| Latitude 
			span#latitude.nav
		h6#instructions Click on map for Nearest Postcode
		form.form-inline
			.form-group#postcode_lookup
				input(type="text",placeholder="Lookup a Postcode").form-control#postcode_query
		table.table.table-condensed#info