extends ../layouts/default

block main
	.mast
		.container
			.row
				.col-lg-12
					h1.mast-text Postcode &amp; Geolocation API for the UK
					h3. Free, Open Source and based solely on Open Data
					.gitlinks
						iframe.gitlink(src="http://ghbtns.com/github-btn.html?user=ideal-postcodes&repo=postcodes.io&type=watch&count=true", width="90", height="20")
						iframe.gitlink(src="http://ghbtns.com/github-btn.html?user=ideal-postcodes&repo=postcodes.io&type=fork&count=true", width="90", height="20")

block content
	.header
		.container
			.row
				.col-xs-4
					.points
						img(src="images/github.png",alt="github")
						h4 Open Source
						p MIT licensed. Maintained and freely available on 
							a(href="https://github.com/ideal-postcodes/postcodes.io") Github. 
							| Fork it, make a contribution or even set up your own
				.col-xs-4
					.points
						img(src="images/map.png",alt="map")
						h4 Regularly Updated
						p Updated with the latest data from Ordnance Survey and Office for National Statistics when it becomes available
				.col-xs-4
					.points
						img(src="images/cmd.png",alt="cmd")
						h4 Convenient Methods
						p Simple, useful and self-explanatory API methods like bulk reverse geocoding, autocomplete and validation
	.container
		.row
			.col-lg-12
				h1.api-header API Endpoint &amp; Methods
				.api-demo

					.api-method
						h4.method-title Lookup a postcode
						h4 
							span.http-method GET 
							| api.postcodes.io/postcodes/
							input.rest-resource(value=":postcode")#single-postcode-input
							a(href="#")#single-postcode Request
						pre.code-box#single-postcode-result

					.api-method
						h4.method-title Bulk lookup postcodes
						h4
							span.http-method POST
							| api.postcodes.io/postcodes
							a(href="#")#bulk-postcodes Request
						.json-post
							textarea#bulk-postcodes-input
								| { 
								|   "postcodes" : ["OX49 5NU", "M32 0JG", "NE30 1DP"]
								| }
						pre.code-box#bulk-postcodes-result

					.api-method
						h4.method-title Get nearest postcodes for a given longitude &amp; latitude
						h4
							span.http-method GET
							| api.postcodes.io/postcodes/lon/
							input.rest-resource(value=":longitude")#lon-input
							| /lat/
							input.rest-resource(value=":latitude")#lat-input
							a(href="#")#geocode-postcode Request
						pre.code-box#geocode-postcode-result

					.api-method
						h4.method-title Bulk Reverse Geocoding
						h4
							span.http-method POST
							| api.postcodes.io/postcodes
							a(href="#")#bulk-reverse Request
						.json-post
							textarea#bulk-reverse-input
								| { 
								|   "geolocations" : [{
								|   	"longitude":  0.629834723775309,
								|   	"latitude": 51.7923246977375
								|   }, {
								|   	"longitude": -2.49690382054704,
								|   	"latitude": 53.5351312861402,
								|   	"radius": 1000,
								|   	"limit": 5
								|   }]
								| }
						pre.code-box#bulk-reverse-result

					.api-method
						h4.method-title Get a random postcode
						h4
							span.http-method GET 
							| api.postcodes.io/random/postcodes
							a(href="#")#random-postcode Request
						pre.code-box#random-postcode-result

					.api-method
						h4.method-title Validate a postcode
						h4
							span.http-method GET  
							| api.postcodes.io/postcodes/
							input.rest-resource(value=":postcode")#validate-postcode-input
							| /validate
							a(href="#")#validate-postcode Request
						pre.code-box#validate-postcode-result

					.api-method
						h4.method-title Nearest postcodes for postcode
						h4
							span.http-method GET  
							| api.postcodes.io/postcodes/
							input.rest-resource(value=":postcode")#nearest-postcode-input
							| /nearest
							a(href="#")#nearest-postcode Request
						pre.code-box#nearest-postcode-result

					.api-method
						h4.method-title Autocomplete a postcode partial
						h4
							span.http-method GET
							| api.postcodes.io/postcodes/
							input.rest-resource(value=":postcode")#autocomplete-postcode-input
							| /autocomplete
							a(href="#")#autocomplete-postcode Request
						pre.code-box#autocomplete-postcode-result

					.api-method
						h4.method-title Query for postcode
						h4
							span.http-method GET
							| api.postcodes.io/postcodes?q=
							input.rest-resource(value=":postcode")#query-postcode-input
							a(href="#")#query-postcode Request
						pre.code-box#query-postcode-result

					.api-method
						h4.method-title Lookup Outward Code
						h4
							span.http-method GET
							| api.postcodes.io/outcodes/
							input.rest-resource(value=":outcode")#show-outcode-input
							a(href="#")#show-outcode Request
						pre.code-box#show-outcode-result

