<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mast-text">Documentation</h1>
        <p>Postcodes.io allows UK postcode data to be queried over a JSON HTTP API.<br>Docker images are available for simple self hosting and rapid, local querying of the UK postcode dataset</p>
        </div>
    </div>
  </div>
</div>
