openapi: 3.1.0
info:
  version: 3.5.1
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: API Reference - Postcodes.io
  termsOfService: https://postcodes.io/docs/licenses
  description: |
    Postcodes.io is a free postcode lookup API and geocoder for the UK.

    ## Endpoint

    All services can be accessed from the following endpoint.

    ```
    https://api.postcodes.io
    ```

    The API accepts GET and POST requests. POST methods use content type `application/json`.

    ## Responses

    Each response comes with an appropriate HTTP Status code (except for JSONP requests). These include 200 for success, 400 for a bad request, 404 for not found and 500 for server error. The HTTP Status code is also included in the response body.

    ## Authentication

    Postcodes.io does not require authentication.
  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
servers:
  - url: https://api.postcodes.io
    description: API Server
    variables: {}
tags:
  - name: Postcodes
  - name: Terminated Postcodes
  - name: Scottish Postcodes
  - name: Outward Codes
  - name: Places
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: https://docs.ideal-postcodes.co.uk/postcodesio
paths:
  /postcodes/{postcode}:
    get:
      tags:
        - Postcodes
      summary: Lookup Postcode
      operationId: LookupPostcode
      description: |
        ### Postcode Data (Ordnance Survey Postcode Directory Dataset)

        Data points returned by the /postcodes and /outcodes API
      parameters:
        - name: postcode
          in: path
          description: Postcode to retrieve
          required: true
          style: simple
          explode: false
          schema:
            title: Postcode
            description: Postcode to query
            example: SW1A 2AA
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/postcodes/SW1A2AA
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/SW1A2AA'
  /postcodes:
    get:
      tags:
        - Postcodes
      summary: Autocomplete Search a Postcode
      operationId: Postcode Lookup
      description: |
        Query for a postcode either by:

        - The postcode itself (with `query=`) or by,
        - A geolocation (`lat=` and `lon=`).

        ## Query with Postcode

        Submit a postcode query and receive a complete list of postcode matches and all associated postcode data. This is triggered when `query=` is supplied.

        This is essentially a postcode search which prefix matches and returns postcodes in sorted order (case insensitive).

        This method is space sensitive, i.e. it detects for spaces between outward and inward parts of the postcode (some examples detailed in this [issue](https://github.com/ideal-postcodes/postcodes.io/issues/44)).

        The result set can either be empty or populated with up to 100 postcode entities. Either way it will always return a 200 response code.

        ## Query with Geolocation

        Returns nearest postcodes for a given longitude and latitude. This is triggered when `lat=` and `lon=` are supplied.
      parameters:
        - name: query
          in: query
          style: form
          explode: false
          schema:
            description: Postcode to query. Aliases to `q=`
            example: SW1A 2AA
        - name: limit
          in: query
          style: form
          explode: false
          description: Limits number of postcodes matches to return. Defaults to 10. Needs to be less than 100.
          schema:
            default: 10
            maximum: 100
            minimum: 1
            example: 3
        - name: longitude
          in: query
          style: form
          explode: false
          description: Geographic coordinate that specifies the east-west position of a point
          schema:
            title: Longitude
            type: number
            format: double
            example: -0.127695
            maximum: 180
            minimum: -180
        - name: latitude
          in: query
          style: form
          explode: false
          schema:
            title: Latitude
            type: number
            format: double
            description: Latitude
            example: 51.50354
            maximum: 90
            minimum: -90
        - name: radius
          in: query
          style: form
          explode: false
          description: Limits number of postcodes matches to return. Defaults to 100m. Needs to be less than 2,000m.
          schema:
            title: Radius
            type: integer
            example: 500
            default: 100
            maximum: 2000
            minimum: 1
        - name: widesearch
          in: query
          style: form
          explode: false
          schema:
            title: Widesearch
            type: boolean
            description: Search up to 20km radius, but subject to a maximum of 10 results. Since lookups over a wide area can be very expensive, we've created this method to allow you choose to make the trade off between search radius and number of results. Defaults to false. When enabled, radius and limits over 10 are ignored.
            example: 'true'
            default: 'false'
        - name: filter
          in: query
          style: form
          explode: false
          schema:
            title: Filter
            type: string
            description: A comma separated whitelist of attributes to be returned in the result object(s), e.g. filter=postcode,longitude,latitude. null responses will continue to return null. If no attributes match the result object, an empty object is returned
            example: postcode
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodesResponse'
      x-codeSamples:
        - lang: http
          label: Query URL
          source: |
            https://api.postcodes.io/postcodes/SW1A2AA
        - lang: cURL
          label: Query CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/SW1A2AA'
        - lang: http
          label: Nearest URL
          source: |
            https://api.postcodes.io/postcodes?lon=-0.127695&lat=51.50354
        - lang: cURL
          label: Nearest CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes?lon=-0.127695&lat=51.50354'
    post:
      tags:
        - Postcode Query
      summary: Bulk Postcode Lookup
      operationId: Bulk Postcode Lookup
      description: |
        Accepts a JSON object containing an array of postcodes. Returns a list of matching postcodes and respective available data.

        Be sure to submit JSON requests setting `Content-Type` to `application/json`.

        Accepts up to 100 postcodes.

        ### Post Data

        This method requires a JSON object containing an array of postcodes to be posted, e.g.

        ```json
        {
          "postcodes": ["PR3 0SG", "M45 6GN", "EX16 5BL"]
        }
        ```

        ## Bulk Reverse Geocoding

        Bulk translates geolocations into Postcodes. Accepts up to 100 geolocations.
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
      x-codeSamples:
        - lang: http
          label: Query URL
          source: |
            https://api.postcodes.io/postcodes/
        - lang: cURL
          label: Query CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/'
        - lang: http
          label: Nearest URL
          source: |
            https://api.postcodes.io/postcodes?
        - lang: cURL
          label: Nearest CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes?'
  /postcodes/{postcode}/nearest:
    get:
      tags:
        - Postcodes
      summary: Find the Nearest Postcodes
      operationId: Nearest Postcode
      description: Returns a list of postcodes geographically nearest to the specified postcode, ordered by proximity (closest first).
      parameters:
        - name: postcode
          in: path
          description: Valid UK postcode to use as the geographic center point for the proximity search
          required: true
          style: simple
          explode: false
          schema:
            title: Postcode
            example: SW1A 2AA
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestPostcodesResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/postcodes/SW1A2AA
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/postcodes/SW1A2AA'
  /random/postcodes:
    get:
      tags:
        - Postcodes
      summary: Get a Random Postcode
      operationId: randomPostcode
      description: Returns a randomly selected postcode along with comprehensive geographic, administrative, and statistical data associated with that postcode.
      parameters:
        - name: outcode
          in: query
          description: Filters random postcodes by outcode. Returns null if invalid outcode.
          style: form
          explode: false
          schema:
            title: Outward code
            type: string
            example: SW1A
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/random/postcodes
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/random/postcodes'
  /terminated_postcodes/{postcode}:
    get:
      tags:
        - Terminated Postcodes
      summary: Lookup Terminated Postcodes
      description: |
        Lookup a terminated postcode.

        If the terminated postcode exists, this API returns the date of termination and last known geospatial coordinates.

        Returns `404` if postcode does not exist in our database of terminated postcodes or is not valid.

        Source: Ordnance Survey Postcode Directory Dataset
      operationId: LookupTerminatedPostcode
      parameters:
        - name: postcode
          in: path
          description: Postcode to query
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminatedPostcodeResponse'
        '404':
          description: Postcode not found
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            api.postcodes.io/terminated_postcodes/E1W1UU
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/terminated_postcodes/E1W1UU'
  /scotland/postcodes/{postcode}:
    get:
      tags:
        - Scottish Postcodes
      summary: Lookup Scottish Postcode
      description: |
        Lookup a Scottish postcode.

        Returns Scottish Postcode Directory (SPD) data associated with postcode. At the moment this is just Scottish Parliamentary Constituency.

        Returns `404` if postcode does not exist in SPD or is not valid.

        For postcodes not in SPD but in ONSPD, a 404 is returned with the error message "Postcode exists in ONSPD but not in SPD."

        Source: Scottish Postcode Directory
      operationId: getScottishPostcode
      parameters:
        - name: postcode
          in: path
          description: Specifies the postcode you wish to query
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScottishPostcodeResponse'
        '404':
          description: Postcode not found
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/scotland/postcodes/IV27JB
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/scotland/postcodes/IV27JB'
  /outcodes/{outcode}:
    get:
      tags:
        - Outward Codes
      summary: Find an Outward Code
      description: |
        Returns aggregated information for postcodes grouped by their shared outward code.

        The outward code is the first half of any postcode (3-4 characters and followed by a space). E.g. `SW1A` is the outward code for `SW1A 1AA`.
      operationId: FindOutcode
      parameters:
        - name: outcode
          in: path
          description: Specifies the outward code you wish to query.
          required: true
          example: SW1A
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutcodeResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/outcodes/sw1a
        - lang: cURL
          label: CLI
          source: |
            curl -G -k \
              --url 'https://api.postcodes.io/outcodes/sw1a'
        - lang: http
          label: Nearest URL
          source: |
            https://api.postcodes.io/outcodes?lon=-0.127695&lat=51.50354
        - lang: cURL
          label: Nearest CLI
          source: |
            curl -G -k \
            --url 'https://api.postcodes.io/outcodes?lon=-0.127695&lat=51.50354'
  /places:
    get:
      tags:
        - Places
      summary: Find a Place
      description: Submit a place query and receive a complete list of places matches and associated data.
      operationId: Place Query
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlacesResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/places?query=welshpool
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.postcodes.io/places' \
              --data-urlencode 'query=welshpool'
  /places/{code}:
    get:
      tags:
        - Places
      summary: Find a Place by ID
      description: |
        Submit a place query and receive a complete list of place matches and associated data.

        This API uses the Ordnance Survey Open Names Dataset. Places are not available for Northern Ireland.
      operationId: FindPlace
      parameters:
        - name: code
          in: path
          description: Specifies the place you wish to query
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/places/osgb4000000074813508
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.postcodes.io/places/osgb4000000074813508'
  /random/places:
    get:
      tags:
        - Places
      summary: Retrieve a Random Place
      description: Returns a randomly selected place from the database along with all its associated geographical and administrative data. Useful for testing or displaying sample location data.
      operationId: randomPlace
      responses:
        '200':
          description: Successfully retrieved a random place
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceResponse'
      x-codeSamples:
        - lang: http
          label: URL
          source: |
            https://api.postcodes.io/random/places
        - lang: cURL
          label: CLI
          source: |
            curl -k -G 'https://api.postcodes.io/random/places/'
components:
  schemas:
    Postcode:
      type: object
      required:
        - postcode
        - outcode
        - incode
        - quality
        - eastings
        - northings
        - country
        - nhs_ha
        - admin_county
        - admin_district
        - admin_ward
        - longitude
        - latitude
        - parliamentary_constituency
        - european_electoral_region
        - primary_care_trust
        - region
        - parish
        - lsoa
        - msoa
        - ced
        - ccg
        - nuts
        - codes
      properties:
        postcode:
          title: Postcode
          type: string
          description: 'UK postcode format: 2-4 character outward code, a space, and a 3-character inward code (e.g., SW1A 2AA). Updated monthly from Royal Mail.'
          example: SW1A 2AA
        outcode:
          title: Outward Code
          type: string
          description: The first part of a postcode before the space (2-4 characters). This generally identifies the postal town or district.
          example: SW1A
        incode:
          title: Inward Code
          type: string
          description: The second part of a postcode after the space (always 3 characters). Helps identify specific streets or buildings within a postal area.
          example: 1AA
        quality:
          title: Positional Quality
          type: integer
          description: |
            Indicates accuracy of the grid reference location:

            * 1: Within the actual building (most accurate)
            * 2: Same as 1, but verified by Landline maps (Scotland only)
            * 3: Approximate location within 50m
            * 4: Postcode unit mean (averaged from addresses with same postcode)
            * 5: Estimated by ONS using surrounding postcodes
            * 6: Postcode sector mean (mainly PO Boxes)
            * 8: Historical postcode (pre-Gridlink®)
            * 9: No grid reference available
          example: 1
        eastings:
          title: Eastings
          type: integer
          format: int32
          nullable: true
          description: Ordnance Survey grid reference easting (X-coordinate) with 1-meter resolution. May be null if geolocation unavailable.
          example: 530047
        northings:
          title: Northings
          type: integer
          format: int32
          nullable: true
          description: Ordnance Survey grid reference northing (Y-coordinate) with 1-meter resolution. May be null if geolocation unavailable.
          example: 179951
        country:
          title: Country
          type: string
          description: The UK constituent country for this postcode (England, Scotland, Wales, Northern Ireland, Channel Islands, or Isle of Man).
          example: England
        nhs_ha:
          title: Strategic Health Authority
          type: string
          nullable: true
          description: The NHS health authority area for this postcode.
          example: London
        admin_county:
          title: County
          type: string
          nullable: true
          description: The administrative county for this postcode. May be empty for areas without county-level administration.
          example: ''
        admin_district:
          title: District
          type: string
          nullable: true
          description: The administrative district or unitary authority for this postcode.
          example: Westminster
        admin_ward:
          title: Ward
          type: string
          nullable: true
          description: The electoral/administrative ward for this postcode.
          example: St. James's
        longitude:
          title: Longitude
          type: number
          format: double
          nullable: true
          description: WGS84 longitude coordinate (east-west position). May be null if geolocation unavailable.
          example: -0.12767
        latitude:
          title: Latitude
          type: number
          format: double
          nullable: true
          description: WGS84 latitude coordinate (north-south position). May be null if geolocation unavailable.
          example: 51.503541
        parliamentary_constituency:
          title: Westminster Parliamentary Constituency
          type: string
          nullable: true
          description: The UK Parliamentary constituency for this postcode.
          example: Cities of London and Westminster
        european_electoral_region:
          title: European Electoral Region (EER)
          type: string
          nullable: true
          description: The European Electoral Region for this postcode.
          example: London
        primary_care_trust:
          title: Primary Care Trust (PCT)
          type: string
          nullable: true
          description: The healthcare administrative area for this postcode. Different naming conventions apply across UK regions.
          example: Westminster
        region:
          title: Region
          type: string
          nullable: true
          description: The regional designation for this postcode (formerly Government Office Regions or GORs).
          example: London
        parish:
          title: Parish/Community
          type: string
          nullable: true
          description: The civil parish (England) or community (Wales) for this postcode.
          example: Westminster, unparished area
        lsoa:
          title: Lower Layer Super Output Area
          type: string
          nullable: true
          description: 2011 Census LSOA code (smaller statistical area, typically 1,000-1,500 residents).
          example: Westminster 018C
        msoa:
          title: Middle Layer Super Output Area
          type: string
          nullable: true
          description: 2011 Census MSOA code (mid-size statistical area, typically 5,000-7,000 residents).
          example: Westminster 018
        ced:
          title: County Electoral District
          type: string
          nullable: true
          description: The county electoral division for English postcodes. Will be null for postcodes without a grid reference or in other UK regions.
          example: null
        ccg:
          title: Clinical Commissioning Group
          type: string
          nullable: true
          description: NHS Clinical Commissioning Group responsible for planning healthcare services in England.
          example: NHS North West London
        pfa:
          title: Police Force Area
          type: string
          nullable: true
          description: The police force area for this postcode.
          example: Metropolitan Police
        date_of_introduction:
          title: Date of Introduction
          type: string
          nullable: true
          description: The date the postcode was introduced in YYYYMM format.
          example: '198001'
        parliamentary_constituency_2024:
          title: Westminster Parliamentary Constituency (2024)
          type: string
          nullable: true
          description: The UK Parliamentary constituency for this postcode based on July 2024 boundaries.
          example: Cities of London and Westminster
        nhs_region:
          title: NHS England Region
          type: string
          nullable: true
          description: The NHS England Region for this postcode. Only applicable to English postcodes.
          example: London
        ttwa:
          title: Travel to Work Area
          type: string
          nullable: true
          description: The Travel to Work Area for this postcode. TTWAs are areas where most people both live and work.
          example: London
        national_park:
          title: National Park
          type: string
          nullable: true
          description: The National Park this postcode falls within, if any.
          example: null
        bua:
          title: Built-up Area
          type: string
          nullable: true
          description: The Built-up Area (2022) for this postcode. Built-up areas are land which has been 'irreversibly urbanised'.
          example: Greater London
        icb:
          title: Integrated Care Board
          type: string
          nullable: true
          description: The NHS Integrated Care Board responsible for healthcare planning in this area.
          example: NHS North West London Integrated Care Board
        cancer_alliance:
          title: Cancer Alliance
          type: string
          nullable: true
          description: The Cancer Alliance for this postcode. Cancer Alliances bring together NHS providers and commissioners to improve cancer care.
          example: RM Partners (West London)
        lsoa11:
          title: Lower Layer Super Output Area (2011)
          type: string
          nullable: true
          description: 2011 Census LSOA code. Alias for the 'lsoa' field. In Scotland this is the Data Zone, in Northern Ireland the Small Area.
          example: Westminster 018C
        msoa11:
          title: Middle Layer Super Output Area (2011)
          type: string
          nullable: true
          description: 2011 Census MSOA code. Alias for the 'msoa' field. In Scotland this is the Intermediate Zone.
          example: Westminster 018
        lsoa21:
          title: Lower Layer Super Output Area (2021)
          type: string
          nullable: true
          description: 2021 Census LSOA code. In Scotland this is the Data Zone, in Northern Ireland the Small Area.
          example: Westminster 018C
        msoa21:
          title: Middle Layer Super Output Area (2021)
          type: string
          nullable: true
          description: 2021 Census MSOA code. In Scotland this is the Intermediate Zone.
          example: Westminster 018
        oa21:
          title: Output Area (2021)
          type: string
          nullable: true
          description: 2021 Census Output Area code - the smallest census geography.
          example: E00004185
        ruc11:
          title: Rural-Urban Classification (2011)
          type: string
          nullable: true
          description: The 2011 Census Rural-Urban Classification for this postcode.
          example: Urban major conurbation
        ruc21:
          title: Rural-Urban Classification (2021)
          type: string
          nullable: true
          description: The 2021 Census Rural-Urban Classification for this postcode.
          example: Urban major conurbation
        lep1:
          title: Local Enterprise Partnership (Primary)
          type: string
          nullable: true
          description: The primary Local Enterprise Partnership for this postcode. LEPs are partnerships between local authorities and businesses.
          example: London
        lep2:
          title: Local Enterprise Partnership (Secondary)
          type: string
          nullable: true
          description: The secondary Local Enterprise Partnership for this postcode, if it falls within overlapping LEP areas.
          example: null
        nuts:
          title: International Territorial Levels (ITL)
          type: string
          nullable: true
          description: |-
            Statistical geography code for international comparisons (formerly NUTS - Nomenclature of Units for Territorial Statistics).

            As of January 2021, following Brexit, NUTS was replaced by ITL (International Territorial Levels) in the UK.
            For backward compatibility, Postcodes.io continues to provide this data under the "nuts" field name.
          example: Westminster
        codes:
          title: Administrative Codes
          type: object
          description: Standard 9-character codes (ONS/GSS) for various administrative boundaries. Useful for data linking with official statistics.
          properties:
            admin_district:
              title: District GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this administrative district.
              example: E09000033
            admin_county:
              title: County GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this administrative county.
              example: E99999999
            admin_ward:
              title: Ward GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this administrative ward.
              example: E05013806
            parish:
              title: Parish GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this parish.
              example: E43000236
            ccg:
              title: CCG GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this Clinical Commissioning Group.
              example: E38000256
            ccg_id:
              title: CCG ID
              type: string
              nullable: true
              description: Short code identifier for this Clinical Commissioning Group.
              example: W2U3Z
            ced:
              title: CED GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this County Electoral District.
              example: E99999999
            nuts:
              title: ITL Code
              type: string
              nullable: true
              description: Official code for this International Territorial Level area.
              example: TLI32
            lau2:
              title: LAU2 Code
              type: string
              nullable: true
              description: Local Administrative Unit level 2 code for this area.
              example: E09000033
            lsoa:
              title: LSOA GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this Lower Layer Super Output Area.
              example: E01004736
            msoa:
              title: MSOA GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this Middle Layer Super Output Area.
              example: E02000977
            pfa:
              title: PFA GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this Police Force Area.
              example: E23000001
            parliamentary_constituency_2024:
              title: Parliamentary Constituency GSS Code (2024)
              type: string
              nullable: true
              description: Official 9-character GSS code for this Parliamentary Constituency based on July 2024 boundaries.
              example: E14000639
            nhs_region:
              title: NHS Region GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this NHS England Region.
              example: E40000003
            ttwa:
              title: TTWA Code
              type: string
              nullable: true
              description: Travel to Work Area code.
              example: E30000234
            national_park:
              title: National Park GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this National Park.
              example: null
            bua:
              title: Built-up Area Code
              type: string
              nullable: true
              description: Built-up Area (2022) code.
              example: E34004786
            icb:
              title: ICB GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this Integrated Care Board.
              example: E54000027
            cancer_alliance:
              title: Cancer Alliance GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this Cancer Alliance.
              example: E56000009
            lsoa11:
              title: LSOA 2011 GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this 2011 Census LSOA. Alias for codes.lsoa.
              example: E01004736
            msoa11:
              title: MSOA 2011 GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this 2011 Census MSOA. Alias for codes.msoa.
              example: E02000977
            lsoa21:
              title: LSOA 2021 GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this 2021 Census LSOA.
              example: E01004736
            msoa21:
              title: MSOA 2021 GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for this 2021 Census MSOA.
              example: E02000977
            oa21:
              title: Output Area 2021 Code
              type: string
              nullable: true
              description: 2021 Census Output Area code.
              example: E00004185
            ruc11:
              title: Rural-Urban Classification 2011 Code
              type: string
              nullable: true
              description: 2011 Census Rural-Urban Classification code.
              example: A1
            ruc21:
              title: Rural-Urban Classification 2021 Code
              type: string
              nullable: true
              description: 2021 Census Rural-Urban Classification code.
              example: A1
            lep1:
              title: LEP (Primary) GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for the primary Local Enterprise Partnership.
              example: E37000051
            lep2:
              title: LEP (Secondary) GSS Code
              type: string
              nullable: true
              description: Official 9-character GSS code for the secondary Local Enterprise Partnership.
              example: null
    PostcodeResponse:
      title: Postcode Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          $ref: '#/components/schemas/Postcode'
          description: Comprehensive location data including geographic coordinates, administrative boundaries, and electoral information for the requested postcode
    PostcodesResponse:
      title: Postcodes Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/Postcode'
          description: Array containing detailed location information for the requested postcode or nearest postcodes
    NearestPostcode:
      title: Geolocated Postcode
      description: Standard postcode object extended with a distance attribute, indicating how far the postcode is from a supplied geolocation.
      allOf:
        - $ref: '#/components/schemas/Postcode'
        - type: object
          required:
            - distance
          properties:
            distance:
              title: Distance from supplied geolocation
              type: number
              format: double
              description: Distance in metres from specified postcode
              example: 0
    NearestPostcodesResponse:
      title: Nearest Postcodes Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/NearestPostcode'
          description: Array of nearest postcodes sorted by distance
    TerminatedPostcode:
      type: object
      required:
        - postcode
        - year_terminated
        - month_terminated
        - longitude
        - latitude
      properties:
        postcode:
          title: Postcode
          type: string
          description: UK postal code format that has been terminated. Follows the standard format of 2-4 character outward code, a space, then 3-character inward code.
          example: SW1A 2AA
          pattern: ^[A-Z]{1,2}[0-9][A-Z0-9]? [0-9][A-Z]{2}$
        year_terminated:
          title: Termination year
          type: integer
          format: int32
          description: The year when the postcode was terminated (YYYY format).
          example: 2019
          minimum: 1900
        month_terminated:
          title: Termination month
          type: integer
          format: int32
          description: Month when the postcode was terminated (1-12, where 1=January, 12=December).
          example: 1
          minimum: 1
          maximum: 12
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
        longitude:
          title: Longitude
          type: number
          format: double
          description: WGS84 longitude coordinate of the postcode location.
          example: -2.496903
          minimum: -180
          maximum: 180
        latitude:
          title: Latitude
          type: number
          format: double
          description: WGS84 latitude coordinate of the postcode location.
          example: 53.53513
          minimum: -90
          maximum: 90
    TerminatedPostcodeResponse:
      title: Terminated Postcode Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            $ref: '#/components/schemas/TerminatedPostcode'
          description: Data for a given postcode
    ScottishPostcodes:
      required:
        - postcode
        - scottish_parliamentary_constituency
        - codes
      properties:
        postcode:
          type: string
          title: Postcode
          description: The Royal Mail postcode associated with this location (e.g., IV2 7JB)
          example: IV2 7JB
          pattern: ^[A-Z]{1,2}[0-9][A-Z0-9]? ?[0-9][A-Z]{2}$
        scottish_parliamentary_constituency:
          type: string
          title: Scottish Parliamentary Constituency
          description: The name of the 2014 Scottish Parliamentary Constituency for this location
          example: Inverness and Nairn
        codes:
          type: object
          title: Location Codes
          description: Official identification codes associated with this postcode location
          properties:
            scottish_parliamentary_constituency:
              type: string
              title: Scottish Parliamentary Constituency Code
              description: 'The 9-character GSS/ONS code identifying the 2014 Scottish Parliamentary Constituency (format: S#######)'
              example: S16000125
              pattern: ^S[0-9]{8}$
    ScottishPostcodeResponse:
      title: Scottish Postcodes Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            $ref: '#/components/schemas/ScottishPostcodes'
          description: Data for a given postcode
    Outcode:
      required:
        - outcode
        - eastings
        - northings
        - admin_county
        - admin_district
        - admin_ward
        - longitude
        - latitude
        - country
        - parish
      properties:
        outcode:
          title: Outcode
          type: string
          description: First part of the postcode before the space (e.g., "SW1A" in "SW1A 1AA"). Usually 2-4 characters.
          example: SW1A
        eastings:
          title: Eastings
          type: number
          format: int32
          nullable: true
          description: Ordnance Survey eastings coordinate (1m resolution). Returns 0 if location unavailable.
          example: 529740
        northings:
          title: Northings
          type: number
          format: int32
          nullable: true
          description: Ordnance Survey northings coordinate (1m resolution). Returns 0 if location unavailable.
          example: 180066
        admin_county:
          title: Administrative County
          type: array
          items:
            type: string
          description: Administrative counties within this outcode.
          example: []
        admin_district:
          title: District
          type: array
          items:
            type: string
          description: District/unitary authorities within this outcode.
          example:
            - Westminster
            - Wandsworth
        admin_ward:
          title: Ward
          type: array
          items:
            type: string
          description: Administrative/electoral wards within this outcode.
          example:
            - Nine Elms
            - St. James's
        longitude:
          title: Longitude
          type: number
          format: double
          nullable: true
          description: WGS84 longitude coordinate. May be null if location unavailable.
          example: -0.132066
        latitude:
          title: Latitude
          type: number
          format: double
          nullable: true
          description: WGS84 latitude coordinate. May be null if location unavailable.
          example: 51.50464
        country:
          title: Country
          type: array
          items:
            type: string
          description: Countries within this outcode.
          example:
            - England
        parish:
          title: Parish
          type: array
          items:
            type: string
          description: Parishes (England) or communities (Wales) within this outcode.
          example:
            - Wandsworth, unparished area
            - Westminster, unparished area
    OutcodeResponse:
      title: Outcode Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          description: Comprehensive geographical and administrative data for the specified outcode, including location coordinates, administrative boundaries, and related postal information
          oneOf:
            - $ref: '#/components/schemas/Outcode'
    Place:
      type: object
      title: Place
      description: A geographical location with detailed information including names, coordinates, and administrative boundaries
      required:
        - code
        - name_1
        - name_1_lang
        - name_2
        - name_2_lang
        - local_type
        - outcode
        - county_unitary
        - county_unitary_type
        - district_borough
        - region
        - country
        - longitude
        - latitude
        - eastings
        - northings
        - min_eastings
        - min_northings
        - max_eastings
        - max_northings
      properties:
        code:
          title: Code
          type: string
          description: Unique identifier for the place record (persistent except for Section of Named/Numbered Roads)
          example: osgb4000000074559833
        name_1:
          title: Primary Name
          type: string
          description: Official name of the place (preserves original format, e.g., "The Pennines" not "Pennines, The")
          example: Y Trallwng
        name_1_lang:
          title: Primary Name Language
          type: string
          nullable: true
          description: Language code for name_1 (cym=Welsh, eng=English, gla=Scottish Gaelic)
          example: cym
        name_2:
          title: Secondary Name
          type: string
          nullable: true
          description: Alternative name in a different language
          example: Welshpool
        name_2_lang:
          title: Secondary Name Language
          type: string
          nullable: true
          description: Language code for name_2 (cym=Welsh, eng=English, gla=Scottish Gaelic)
          example: eng
        local_type:
          title: Local Type
          type: string
          description: Ordnance Survey classification (City, Town, Village, Hamlet, etc.)
          example: Hamlet
        outcode:
          title: Outcode
          type: string
          description: Postcode district (first part of the postcode)
          example: BH24
        county_unitary:
          title: Administrative Area
          type: string
          nullable: true
          description: County, Unitary Authority or Greater London Authority that contains this place
          example: Powys - Powys
        county_unitary_type:
          title: Administrative Area Type
          type: string
          nullable: true
          description: Type of administrative unit (e.g., County, UnitaryAuthority)
          example: UnitaryAuthority
        district_borough:
          title: District or Borough
          type: string
          nullable: true
          description: District, Metropolitan District or London Borough containing this place
          example: 'null'
        district_borough_type:
          title: Borough Type
          type: string
          nullable: true
          description: Type of district/borough administrative unit
          example: 'null'
        region:
          title: Region
          type: string
          description: European Region (formerly Government Office Region) containing this place
          example: Wales
        country:
          title: Country
          type: string
          description: Country within Great Britain (England, Scotland, or Wales)
          example: Wales
        longitude:
          title: Longitude
          type: number
          format: double
          description: WGS84 longitude coordinate
          example: '-3.14971194307843'
        latitude:
          title: Latitude
          type: number
          format: double
          description: WGS84 latitude coordinate
          example: '52.6606391732959'
        eastings:
          title: Eastings
          type: integer
          description: Ordnance Survey grid reference Easting (1m resolution, not available for Channel Islands/Isle of Man)
          example: '322335'
        northings:
          title: Northings
          type: integer
          description: Ordnance Survey grid reference Northing (1m resolution, not available for Channel Islands/Isle of Man)
          example: '307611'
        min_eastings:
          title: Minimum Eastings
          type: integer
          description: Western edge of the place's bounding box (Minimum Bounding Rectangle)
          example: '321623'
        min_northings:
          title: Minimum Northings
          type: integer
          description: Southern edge of the place's bounding box (Minimum Bounding Rectangle)
          example: '306458'
        max_eastings:
          title: Maximum Eastings
          type: integer
          description: Eastern edge of the place's bounding box (Minimum Bounding Rectangle)
          example: '323592'
        max_northings:
          title: Maximum Northings
          type: integer
          description: Northern edge of the place's bounding box (Minimum Bounding Rectangle)
          example: '308740'
    PlacesResponse:
      title: Places Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          type: array
          items:
            $ref: '#/components/schemas/Place'
          description: Data for a given place
    PlaceResponse:
      title: Place Response
      type: object
      required:
        - status
        - result
      properties:
        status:
          type: integer
          format: int32
          enum:
            - 200
        result:
          $ref: '#/components/schemas/Place'
          description: Data for a given place
x-tagGroups:
  - name: API
    tags:
      - Postcodes
      - Terminated Postcodes
      - Scottish Postcodes
      - Outward Codes
      - Places
