<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h3>Community API Libraries</h3>
      <p>
        <strong>Java</strong>
      </p>
      <p>
        <a href="https://github.com/spdeepak/postcodes-io-java">postcodes_io </a>by <a href="https://github.com/spdeepak">Deepak Sunanda Prabhakar</a>
      </p>
      <p>
        <strong>PHP</strong>
      </p>
      <p>
        <a href="https://github.com/JustSteveKing/LaravelPostcodes">LaravelPostcodes</a> by <a href="https://github.com/JustSteveKing">Steve McDougall</a>.<br>
        <a href="https://www.drupal.org/project/postcodes_io_api">Postcodes.io API module for Drupal</a> by <a href="https://github.com/dakkusingh">Dakku Singh</a>.<br>
        <a href="https://github.com/boxuk/postcodes-io-bundle">postcodes-io-bundle </a>by the people at <a href="http://www.boxuk.com">Box UK</a>. Read the <a href="http://www.boxuk.com/developer-blog/geocoding-postcodes-symfony2/">blog post</a><br>
        <a href="https://github.com/adityamenon/postcodes-io-laravel">(adityamenon) postcodes-io laravel package </a>by <a href="http://adityamenon.co">Aditya Menon</a><br>
        <a href="https://github.com/hart1994/Postcodes-IO-PHP">PHP Class for Postcodes.io </a>by <a href="https://github.com/hart1994/">Ryan</a><br>
        <a href="https://github.com/jabranr/postcodes-io">(jabranr) postcodes-io </a>by <a href="https://github.com/jabranr/">Jabran Rafique</a><br>
        <a href="https://github.com/ammaar23/postcodes-io-sdk">PHP Software Development Kit </a> by <a href="https://github.com/ammaar23">Ammaar Latif</a>
      </p>
      <p>
        <strong>Ruby</strong>
      </p>
      <p>
        <a href="https://github.com/jamesruston/postcodes_io">postcodes_io </a>by <a href="https://github.com/jamesruston">James Ruston</a><br>
        <a href="https://github.com/msventurelabs/uk_postcodes_io">uk_postcodes_io </a>by <a href="https://github.com/reggieb">Rob Nichols (M&amp;S Venture Labs)</a>
      </p>
      <p>
        <strong>Node.js</strong>
      </p>
      <p>
        <a href="https://github.com/cuvva/postcodesio-client-node">postcodesio-client-node</a> by <a href="https://github.com/billinghamj">@billinghamj</a><br>
        <a href="https://github.com/lcherone/node-postcodes.io">Node JS Client/Wrapper</a> by <a href="https://github.com/lcherone">Lawrence Cherone</a>
      </p>
      <p>
        <strong>Python</strong>
      </p>
      <p>
        <a href="https://github.com/previousdeveloper/PythonPostcodesWrapper">PythonPostcodesWrapper</a> by <a href="https://github.com/previousdeveloper">Gokhan Karadas</a><br>
        <a href="https://github.com/raigad/python-postcodes-io">postcodes_io_api</a> by <a href="https://github.com/raigad">Rohit Deshmukh</a> (<a href="https://pypi.org/project/postcodes-io-api/">Python Package</a>)
      </p>
      <p>
        <strong>C&#35;</strong>
      </p>
      <p>
        <a href="https://github.com/markembling/MarkEmbling.PostcodesIO">MarkEmbling.PostcodesIO</a> by <a href="https://github.com/markembling">Mark Embling</a>
      </p>
      <p>
        <strong>R</strong>
      </p>
      <p>
        <a href="https://github.com/ropensci/PostcodesioR">PostcodesioR</a> by <a href="https://ropensci.org">rOpenSci</a>. Read the <a href="http://walczak.org/2016/07/postcode-and-geolocation-api-for-the-uk/">blog post</a>
      </p>
      <p>
        <strong>Hack</strong>
      </p>
      <p>
        <a href="https://github.com/Matt-Barber/HackPostcodes">HackPostcodes</a> by <a href="https://recursiveiterator.wordpress.com/">Matt Barber</a>
      </p>
      <p>
        <strong>Perl</strong>
      </p>
      <p>
        <a href="https://gist.github.com/cblanc/ecb2c3aec4a8759f1fba19c98411f39c">Perl example</a> provided by <a href="https://github.com/digdilem">digdilem</a>
      </p>
      <p>
        <strong>Helm Chart</strong>
      </p>
      <p>
        <a href="https://github.com/Unmortgage/postcodes-io-helm-chart">postcodes-io-helm-chart</a> by <a href="https://github.com/nicwest">Nic West</a>
      </p>
      <p>
        <strong>Wolfram Language</strong>
      </p>
      <p>
        <a href="https://github.com/arnoudbuzing/postcode">postcode</a> by <a href="https://github.com/arnoudbuzing">Arnoud Buzing</a>
      </p>
      <p>
        <strong>Google Sheets Addon</strong>
      </p>
      <p>
        <a href="https://chrome.google.com/webstore/detail/uk-postcode-geocoder/bjkecdilmiedfkihpgfhfikchkghliia?utm_source=permalink">UK Postcode Geocoder</a> by <a href="http://edwebdeveloper.com/">Ed Patrick</a>
      </p>
      <hr>
      <h3>Noticeboard for 2020</h3>
      <p>Any updates or disruptions will be listed below.</p>
      <ul>
        <li>No issues to date</li>
      </ul>
      <hr />
      <h3>Support</h3>
      <p>Chat: <a href="https://chat.ideal-postcodes.co.uk" target="_blank">chat.ideal-postcodes.co.uk</a></p>
      <p>Email: support@ideal-postcodes.co.uk</p>
      <p>Twitter: <a href="https://twitter.com/idealpostcodes">@IdealPostcodes</a></p>
      <hr />
      <h3>GitHub</h3>
      <p>For bugs and feature requests use our <a href="https://github.com/ideal-postcodes/postcodes.io/issues">GitHub issue tracker.</a></p>
      <hr />
      <h3>Data</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>ONS Postcode Directory</th>
            <th>OS Open Names</th>
            <th>Scottish Postcode Directory</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Release Date</td>
            <td>May 2020</td>
            <td>April 2020</td>
            <td>January 2020</td>
          </tr>
          <tr>
            <td>Data Points</td>
            <td>1,767,416 (+0.1%)</td>
            <td>43,014 (-2)</td>
            <td>158,326 (+0.3%)</td>
          </tr>
        </tbody>
      </table>
      <p>Beyond the dates listed above, please be aware that the real world dataset may change. Existing postcodes and places may be amended or discontinued. This information will not be captured until the next available update.</p>
      <hr />
      <h3>Licence</h3>
      <p>Postcodes.io is available under the MIT Licence</p>
      <p>Great Britain postcode data may be used under the terms of the OS OpenData licence</p>
      <p>Northern Ireland postcode data (i.e. beginning "BT") may be used under the terms of the ONSPD licence. Non-commercial use is free. Commercial use requires a licence from NI Land &amp; Property Services</p>
      <p>Contains Ordnance Survey data &copy; Crown copyright and database right <%- new Date().getFullYear()%></p>
      <p>Contains Royal Mail data &copy; Royal Mail copyright and database right <%- new Date().getFullYear()%></p>
      <p>Contains National Statistics data &copy; Crown copyright and database right <%- new Date().getFullYear()%></p>
      <p>Contains NRS data &copy; Crown copyright and database right <%- new Date().getFullYear()%></p>
    </div>
  </div>
</div>
