.header {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.pointLabel {
  font-size: 1.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: 100px;
  padding: 100px 0
}
