doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
  include ../includes/head
  body
    #wrap
      include ../includes/header
      block main
      block content
    include ../includes/footer
    include ../includes/foot
